<%- include ('partials/header.ejs') %>
<body>
  <%- include ('partials/navbar.ejs') %>
  <br />
  <div class="container">
    <div class="card">
      <div class="card-header">
        <hr />
        <h2>Controle de teste</h2>
        <hr />
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <h4 class="alert-heading">Aviso</h4>
            <p>Seus testes já estão em execução. Aguarde pelo relatório antes de rodar mais testes, tudo bem?.</p>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Fechar"
            ></button>
          </div>
        <a
          type="text"
          class="btn btn-primary"
          href="/gravarnometeste/<%=idempresa%>"
          >novo caso de teste</a
        >
        <a href="/rodartestes/<%=idempresa%>" type="text" class="btn btn-secondary">executar testes</a>
        <a href="/relatoriogeral/<%=idempresa%>" type="text" class="btn btn-secondary">relatórios</a>
      </div>
      <% testes.forEach(teste =>{%> <% if( teste.idempresa == idempresa &&
      teste.status == 0 ){%>
      <form id="form-deletarpasso" method="POST" action="/deletarteste">
        <input type="hidden" name="nometeste" value="<%=teste.nometeste%>" />
        <input type="hidden" name="idempresa" value="<%=teste.idempresa%>" />
        <div class="card-body">
          <div class="row mt-6">
            <div class="col">
              <P><%=teste.nometeste%></P>
            </div>

            <div class="col">
              <a
                class="btn btn-secondary"
                href="/editarteste/<%=teste.nometeste%>/<%=idempresa%>"
                >editar</a
              >
              <button
                class="btn btn-danger"
                type="submit"
                data-="btn-deletarteste"
              >
                deletar
              </button>
              <a
                class="btn btn-warning"
                id="rodateste"
                href="/run-tests/<%=idempresa%>/<%=teste.nometeste%>"
                >executar</a
              >
            </div>
          </div>
          <!-- Modal de confirmação 
          <div
            class="modal fade"
            data-="confirmacao-modal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="confirmacao-modal-titulo"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="confirmacao-modal-titulo">
                    Confirmar envio
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Fechar"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Tem certeza que deseja deletar esse teste?
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Não
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary"
                    id="btn-confirmar-envio"
                  >
                    Sim
                  </button>
                </div>
              </div>
            </div>
          </div>-->
        </div>
      </form>
      <%}%> <%})%>
    </div>
  </div>

  <%- include ('partials/footer.ejs') %>

  <script>
    document
      .querySelector("[data-btn-deletarteste]")
      .addEventListener("click", function (event) {
        event.preventDefault(); // impede o envio do formulário

        // Exibe o modal de confirmação
        $("#confirmacao-modal").modal("show");
      });

    // Adiciona um event listener ao botão "Sim" do modal de confirmação
    document
      .getElementById("btn-confirmar-envio")
      .addEventListener("click", function () {
        // Fecha o modal
        $("#confirmacao-modal").modal("hide");

        // Envia o formulário
        document.getElementById("form-deletarpasso").submit();
      });
  </script>
</body>