<%- include ('partials/header.ejs') %>
<body>
  <%- include ('partials/navbar.ejs') %>
  <br />
  <div class="container">
    <div class="card">
      <div class="card-header">
        <hr />
        <h1>Selecione os testes de software que deseja realizar</h1>
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          <h4 class="alert-heading">Aviso</h4>
          <p>
            Seus testes já estão em execução. Aguarde pelo relatório antes de
            rodar mais testes, tudo bem?.
          </p>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Fechar"
          ></button>
        </div>

        <a
          type="reset"
          class="btn btn-secondary"
          href="/painel/<%=idempresa%>/<%=token%>"
          >voltar</a
        >
        <hr />
      </div>
      <div class="card-body">
        <form
          id="form-rodartestese"
          method="POST"
          action="/rodartestesselecionados/<%=idempresa%>/<%=token%>"
        >
          <div class="d-flex justify-content-between align-items-center mb-2">
            <button type="button" class="btn btn-primary" id="select-all-btn">
              selecionar tudo
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              id="btn-rodartestesselecionados"
              disabled
            >
              rodar testes selecionados
            </button>

            <!--  <a
              href="/planoplus/<%=idempresa%>/<%=token%>"
              class="btn btn-primary"
              id="btn-rodartestesselecionados"
              >rodar testes selecionados</a
            >  -->
          </div>
          <% testes.forEach(teste => { %> <% if (teste.idempresa == idempresa &&
          teste.status == 0) { %>
          <div class="d-flex align-items-center">
            <div class="mr-2">
              <input
                type="checkbox"
                name="selecionado[]"
                value="<%= teste.nometeste %>"
              />
            </div>
            <div>
              <p><%= teste.nometeste %></p>
            </div>
          </div>
          <% } %> <% }) %>
          <input type="hidden" name="idempresa" value="<%=idempresa%>" />
          <input type="hidden" name="nometeste" value="" />
        </form>
      </div>
    </div>
  </div>
  <%- include ('partials/footer.ejs') %>

  <script>
    const checkboxes = document.getElementsByName("selecionado[]");
    const selectAllBtn = document.getElementById("select-all-btn");
    const submitBtn = document.getElementById("btn-rodartestesselecionados");

    selectAllBtn.addEventListener("click", () => {
      checkboxes.forEach((checkbox) => {
        checkbox.checked = !selectAllBtn.classList.contains("active");
      });
      selectAllBtn.classList.toggle("active");
      submitBtn.disabled = !Array.from(checkboxes).some((c) => c.checked);
    });

    checkboxes.forEach((checkbox) => {
      checkbox.addEventListener("change", () => {
        submitBtn.disabled = !Array.from(checkboxes).some((c) => c.checked);
      });
    });
  </script>
</body>
