<%- include ('partials/header.ejs') %> <%- include ('partials/navbar.ejs') %>

<div class="container">
  <div class="card">
    <div class="card-header">
      <form
        id="deletarwebhook"
        method="POST"
        action="/deletarwebhook/<%=idempresa%>/"
        style="border: 1px solid #ddd; padding: 10px"
      >
      <div class="form-group">
        <h1>Integrar webhook discord</h1>
        <hr>
        <a
          type="reset"
          class="btn btn-secondary"
          href="/painel/<%=idempresa%>"
          >voltar</a
        >
        <a href="/cadastrarwebhook/<%=idempresa%>" type="text" class="btn btn-primary">discord</a>
        <a href="/webhookworkplace/<%=idempresa%>" class="btn btn-primary">workplace</a>
    
      </div>
    
    </div>
    <div class="card-body">
      <h5>Integrar webhook no Discord</h5>
     
        <div class="form-group">
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <h4 class="alert-heading">Aviso</h4>
                <p>Webhook deletado.</p>
              </div>
          <button type="submit" class="btn btn-danger">deletar</button>
        </div>
      <hr />
    </form>
      <form
        id="form-salvarwebhook"
        method="POST"
        action="/salvarwebhook/<%=idempresa%>"
        style="border: 1px solid #ddd; padding: 10px"
      >
     
        <div class="form-group">
          <label for="url">URL:</label>
          <input
            type="text"
            class="form-control"
            id="url"
            name="url"
            placeholder="Insira a URL do discord"
          />
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
      <hr />
    </div>
  </div>
</div>

<%- include ('partials/footer.ejs') %>
